
Documentos/Problem_Set_2.aux
Documentos/Problem_Set_2.bbl
Documentos/Problem_Set_2.blg
Documentos/Problem_Set_2.out
Documentos/Problem_Set_2.out
Documentos/Problem_Set_2.log
Scripts/train_personas.csv
Scripts/.Rhistory
Scripts/.RDataTmp
